//
// Portfolio
// --------------------------------------------------

// Splash section
.portfolio-main {
  padding-top: 150px;
  padding-bottom: 150px;

  border-bottom: 1px solid #000;

  @media (min-width: @screen-sm-min) {
    background-size: cover;
    background-image: url(/img/splash-backgrounds/portfolio.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
