<template name="footer">
  <footer class="footer">
    <div class="container">
      <div class="col-sm-6 center-block text-center">
        <div class="footer-icons">
          <a href="https://twitter.com/collinhaines">
            <i class="fa fa-3x fa-twitter"></i>
          </a>

          <a href="https://github.com/collinhaines">
            <i class="fa fa-3x fa-github"></i>
          </a>

          <a href="http://www.linkedin.com/in/collinhaines">
            <i class="fa fa-3x fa-linkedin"></i>
          </a>
        </div>

        <p>Copyright &copy; 2017 - Collin Haines</p>
      </div>
    </div>
  </footer>
</template>
