<template name="services">
  <section class="services" id="services">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-4">
          <span class="service-icon">
            <i class="fa fa-3x fa-arrows"></i>
          </span>

          <h3 class="service-title">Responsive</h3>

          <p>The web is evolving at an exponential rate; our websites need to do the same. Whether you're viewing a website on a desktop, tablet, phone, or even a watch - your website will be ready.</p>
        </div>

        <div class="col-sm-4">
          <span class="service-icon">
            <i class="fa fa-3x fa-code"></i>
          </span>

          <h3 class="service-title">Clean Code</h3>

          <p>Hacks and gimmicks are for the programmers of the 80s and 90s. It's because of them that the code of today is held at high standards. Those standards are not only met, they're exceeded.</p>
        </div>

        <div class="col-sm-4">
          <span class="service-icon">
            <i class="fa fa-3x fa-building" style="padding-left: 3px;"></i>
          </span>

          <h3 class="service-title">Seamless Architecture</h3>

          <p>You know the milk is in the back of the grocery store. You know that's the only thing you're getting. Then why are you in the shampoo aisle? Taking the most efficient and shortest path is of the top most priority.</p>
        </div>
      </div>
    </div>
  </section>
</template>
